body{
	font-family: 'Poiret One', cursive;
	font-size: 1.3em;
}

.home img{
	width: 40%;
	margin-left: 35%;
	position: absolute;
	margin-top: -23%;
}

.home{
	margin-top: 15%;
}

li:hover{
	background-color: tomato
}

li{
	text-decoration: none;
	background-color: black;
	color: yellow;
	display: block;
	font-size: 1em;
	font-family: 'Poiret One', cursive;
	padding: 0.5em;
	width: 30%;
	text-align: left;
	margin-bottom: 0.3em;
	margin-left: 25%;
}

a{
	text-decoration: none;
	color: white;
}



.logo img{
	position: relative;
	margin-top: 1.5em;
	margin-left: 24em;
	margin-bottom: 0.7em;

	
}

.about img{
	width: 25%;
	margin-left: 5%;
}

.about{
	width: 90%;
	margin: 0px auto;
}

.navi{
	width: 90%;
	margin: 0.1em auto;
	margin-bottom: 1em;
}


p{
	margin-left: 33%;
	font-size: 0.9em;
	text-align: justify;
	width: 60%;
	line-height: 1em;
	margin-top: -17.2em;
}

.navi a{
	color: white;
}

.navi li{
	text-decoration: none;
	display: table-cell;
	background-color: tomato;
}

.navi a:hover{
	color: black;
}






.work img{
	width: 80%;
	height: 70%;
	margin: 2em auto;
	display: none;
}

.hidden{
	display: none;
}

.selected{
	display: inline;
}
